<div class="confirmation">
  <div class="confirmation-element">
    <div class="confirmation__title">
      Congratulations! You order successfully
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </div>
    <div class="confirmation-element">
      Thank you so much, <b>{{ fullName }}</b>
    </div>
    <div class="confirmation-element">
        Your procude will be shiped in 4-5 days
    </div>
    <div class="confirmation-element">
      <a href="#"> Return to product list </a>
    </div>
  </div>
</div>
